.img-container{
    @apply relative;
    width: 100%;
    height: 100%;
    
}
.img-container img{
    
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (max-width: 640px) {
    .img-container{
        width: 100%;
        height: 100%;
    }
    .ourGellary{
    width: 100.333px !important;
    margin-right: 10px !important;
}

}
    
